<div class="bg2 p-t-40 p-b-25">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 p-b-20">
                <div class="size-h-3 flex-s-c">
                    <a href="index.html">
                        <img class="max-s-full" src="/news/images/logo.png" alt="LOGO">
                    </a>
                </div>

                <div>
                    <p class="f1-s-1 cl11 p-b-16">
                        Công Ty Cổ Phần Lập Trình Zend Việt Nam
                    </p>

                    <p class="f1-s-1 cl11 p-b-16">
                        Mã số thuế: 0314390745
                    </p>

                    <p class="f1-s-1 cl11 p-b-16">
                        Phone: 0383 308 983 (Mr Lân)
                    </p>

                    <p class="f1-s-1 cl11 p-b-16">
                        Địa điểm học: Số 01, Khối A1, Toà nhà Đạt Gia, 43 Đường Cây Keo, Tam Phú, Thủ Đức, Hồ
                        Chí Minh
                    </p>

                    <div class="p-t-15">
                        <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                            <span class="fab fa-facebook-f"></span>
                        </a>

                        <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                            <span class="fab fa-twitter"></span>
                        </a>

                        <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                            <span class="fab fa-pinterest-p"></span>
                        </a>

                        <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                            <span class="fab fa-vimeo-v"></span>
                        </a>

                        <a href="#" class="fs-18 cl11 hov-cl10 trans-03 m-r-8">
                            <span class="fab fa-youtube"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-4 p-b-20">
                <div class="size-h-3 flex-s-c">
                    <h5 class="f1-m-7 cl0">
                        Bài viết ngẫu nhiên
                    </h5>
                </div>

                <ul>
                    <li class="flex-wr-sb-s p-b-20">
                        <a href="/gio-hung-than-gieo-rac-chay-rung-o-california-a30.html"
                            class="size-w-4 wrap-pic-w hov1 trans-03">
                            <img src="/uploads/images/1736410483412_9.jpg" alt="IMG">
                        </a>

                        <div class="size-w-5">
                            <h6 class="p-b-5">
                                <a href="/gio-hung-than-gieo-rac-chay-rung-o-california-a30.html"
                                    class="f1-s-5 cl11 hov-cl10 trans-03">
                                    <span>Gió hung thần gieo rắc cháy rừng ở California</span>
                                </a>
                            </h6>
                        </div>
                    </li>
                    <li class="flex-wr-sb-s p-b-20">
                        <a href="/runner-viet-nam-chay-42-giai-marathon-nam-2024-a37.html"
                            class="size-w-4 wrap-pic-w hov1 trans-03">
                            <img src="/uploads/images/1736442578324_16.jpg" alt="IMG">
                        </a>

                        <div class="size-w-5">
                            <h6 class="p-b-5">
                                <a href="/runner-viet-nam-chay-42-giai-marathon-nam-2024-a37.html"
                                    class="f1-s-5 cl11 hov-cl10 trans-03">
                                    <span>Runner Việt Nam chạy 42 giải marathon năm 2024</span>
                                </a>
                            </h6>
                        </div>
                    </li>
                    <li class="flex-wr-sb-s p-b-20">
                        <a href="/barca-thoat-hiem-vu-dani-olmo-a32.html" class="size-w-4 wrap-pic-w hov1 trans-03">
                            <img src="/uploads/images/1736413898074_11.png" alt="IMG">
                        </a>

                        <div class="size-w-5">
                            <h6 class="p-b-5">
                                <a href="/barca-thoat-hiem-vu-dani-olmo-a32.html" class="f1-s-5 cl11 hov-cl10 trans-03">
                                    <span>Barca thoát hiểm vụ Dani Olmo</span>
                                </a>
                            </h6>
                        </div>
                    </li>
                    <li class="flex-wr-sb-s p-b-20">
                        <a href="/rodri-chi-hon-vinicius-4-so-diem-qua-bong-vang-2024-a36.html"
                            class="size-w-4 wrap-pic-w hov1 trans-03">
                            <img src="/uploads/images/1736442198306_15.jpg" alt="IMG">
                        </a>

                        <div class="size-w-5">
                            <h6 class="p-b-5">
                                <a href="/rodri-chi-hon-vinicius-4-so-diem-qua-bong-vang-2024-a36.html"
                                    class="f1-s-5 cl11 hov-cl10 trans-03">
                                    <span>Rodri chỉ hơn Vinicius 4% số điểm Quả Bóng Vàng 2024</span>
                                </a>
                            </h6>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-sm-6 col-lg-4 p-b-20">
                <div class="p-t-30">
                    <img src="/news/images/box-offline.jpg" alt="Box offline" style="width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg11">
    <div class="container size-h-4 flex-c-c p-tb-15">
        <span class="f1-s-1 cl0 txt-center">
            Copyright © 2024

            <a href="https://zendvn.com" class="f1-s-1 cl10 hov-link1">ZendVN</a>

            All rights reserved.
        </span>
    </div>
</div>