<div class="f2-s-1 p-r-30 size-w-0 m-tb-6 flex-wr-s-c">
    <span class="text-uppercase cl2 p-r-8">
        Tin nóng:
    </span>

    <span class="dis-inline-block cl6 slide100-txt pos-relative size-w-0" data-in="fadeInDown" data-out="fadeOutDown">

        <span class="dis-inline-block slide100-txt-item animated visible-false visible-true fadeInDown">
            <a href="/kinh-te-my-canada-gan-bo-voi-nhau-nhu-the-nao.html" class="f1-s-1 cl6 hov-cl10 trans-03">Kinh tế
                Mỹ - Canada gắn bó với nhau như thế nào</a>
        </span>

        <span class="dis-inline-block slide100-txt-item animated visible-false">
            <a href="/co-the-dieu-chinh-giam-tru-gia-canh-ca-nhan-vao-thang-10.html"
                class="f1-s-1 cl6 hov-cl10 trans-03">Có thể điều chỉnh giảm trừ gia cảnh cá nhân vào tháng
                10</a>
        </span>

        <span class="dis-inline-block slide100-txt-item animated visible-false">
            <a href="/ban-cua-supachok-vao-luoi-viet-nam-dan-dau-de-cu-dep-nhat-giai.html"
                class="f1-s-1 cl6 hov-cl10 trans-03">Bàn của Supachok vào lưới Việt Nam dẫn đầu đề cử </a>
        </span>

        <span class="dis-inline-block slide100-txt-item animated visible-false">
            <a href="/loi-ich-cua-chay-10-phut-moi-ngay.html" class="f1-s-1 cl6 hov-cl10 trans-03">Lợi ích
                của chạy 10 phút mỗi ngày</a>
        </span>

        <span class="dis-inline-block slide100-txt-item animated visible-false">
            <a href="/nghien-cuu-chuyen-mot-so-tap-doan-tong-cong-ty-ve-chinh-phu.html"
                class="f1-s-1 cl6 hov-cl10 trans-03">Nghiên cứu chuyển một số tập đoàn, tổng công ty về
                Chính phủ</a>
        </span>

    </span>
</div>