<div class="col-md-10 col-lg-4 p-b-30">
    <div class="p-l-10 p-rl-0-sr991">
        <!-- Category -->
        <div class="p-b-60">
            <div class="how2 how2-cl4 flex-s-c">
                <h3 class="f1-m-2 cl3 tab01-title">
                    Danh mục
                </h3>
            </div>

            <ul class="p-t-35">
                <li class="how-bor3 p-rl-4">
                    <a href="/kinh-te-c7.html"
                        class="flex-wr-sb-c dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                        <span>Kinh tế</span>
                        <span>(5)</span>
                    </a>
                </li>
                <li class="how-bor3 p-rl-4">
                    <a href="/khoa-hoc-c8.html"
                        class="flex-wr-sb-c dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                        <span>Khoa học</span>
                        <span>(7)</span>
                    </a>
                </li>
                <li class="how-bor3 p-rl-4">
                    <a href="/the-thao-c9.html"
                        class="flex-wr-sb-c dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                        <span>Thể thao</span>
                        <span>(10)</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Authors -->
        <div class="p-b-60">
            <div class="how2 how2-cl4 flex-s-c">
                <h3 class="f1-m-2 cl3 tab01-title">
                    Tác giả
                </h3>
            </div>

            <ul class="p-t-35">
                <li class="how-bor3 p-rl-4">
                    <a href="/tac-gia-pham-vuong-quy-p1.html"
                        class="flex-wr-sb-c dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                        <span>Phạm Vương Quý</span>
                        <span>(17)</span>
                    </a>
                </li>
                <li class="how-bor3 p-rl-4">
                    <a href="/tac-gia-luu-truong-hai-lan-p2.html"
                        class="flex-wr-sb-c dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                        <span>Lưu Trường Hải Lân</span>
                        <span>(6)</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Tin tổng hợp -->
        <div class="p-b-60">
            <div class="how2 how2-cl4 flex-s-c">
                <h3 class="f1-m-2 cl3 tab01-title">
                    Tin tổng hợp
                </h3>
            </div>

            <ul class="p-t-35">
                <li class="how-bor3 p-rl-4">
                    <a href="/tin-tuc-tong-hop-vnexpress-f1.html"
                        class="flex-wr-sb-c dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                        <span>Vnexpress</span>
                    </a>
                </li>
                <li class="how-bor3 p-rl-4">
                    <a href="/tin-tuc-tong-hop-thanh-nien-f2.html"
                        class="flex-wr-sb-c dis-block f1-s-10 text-uppercase cl2 hov-cl10 trans-03 p-tb-13">
                        <span>Thanh Niên</span>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Recent Articles -->
        <div class="p-b-30">
            <div class="how2 how2-cl4 flex-s-c">
                <h3 class="f1-m-2 cl3 tab01-title">
                    Bài đăng gần đây
                </h3>
            </div>

            <ul class="p-t-35">
                <li class="flex-wr-sb-s p-b-30">
                    <a href="/kinh-te-my-canada-gan-bo-voi-nhau-nhu-the-nao-a22.html"
                        class="size-w-10 wrap-pic-w hov1 trans-03">
                        <img src="/uploads/images/1736362682023_1.jpg"
                            alt="Kinh tế Mỹ - Canada gắn bó với nhau như thế nào">
                    </a>

                    <div class="size-w-11">
                        <h6 class="p-b-4">
                            <a href="/kinh-te-my-canada-gan-bo-voi-nhau-nhu-the-nao-a22.html"
                                class="f1-s-5 cl3 hov-cl10 trans-03">Kinh tế Mỹ - Canada gắn bó với
                                nhau như thế nào</a>
                        </h6>

                        <span class="cl8 txt-center p-b-24">
                            <a href="/tac-gia-pham-vuong-quy-p1.html" class="f1-s-6 cl8 hov-cl10 trans-03">
                                <span>Phạm Vương Quý</span>
                            </a>
                            <span class="f1-s-3 m-rl-3">-</span>
                            <span class="f1-s-3">13/04/2025</span>
                        </span>
                    </div>
                </li>
                <li class="flex-wr-sb-s p-b-30">
                    <a href="/co-the-dieu-chinh-giam-tru-gia-canh-ca-nhan-vao-thang-10-a23.html"
                        class="size-w-10 wrap-pic-w hov1 trans-03">
                        <img src="/uploads/images/1736363784391_2.jpg"
                            alt="Có thể điều chỉnh giảm trừ gia cảnh cá nhân vào tháng 10">
                    </a>

                    <div class="size-w-11">
                        <h6 class="p-b-4">
                            <a href="/co-the-dieu-chinh-giam-tru-gia-canh-ca-nhan-vao-thang-10-a23.html"
                                class="f1-s-5 cl3 hov-cl10 trans-03">Có thể điều chỉnh giảm trừ gia
                                cảnh cá nhân vào tháng 10</a>
                        </h6>

                        <span class="cl8 txt-center p-b-24">
                            <a href="/tac-gia-luu-truong-hai-lan-p2.html" class="f1-s-6 cl8 hov-cl10 trans-03">
                                <span>Lưu Trường Hải Lân</span>
                            </a>
                            <span class="f1-s-3 m-rl-3">-</span>
                            <span class="f1-s-3">13/04/2025</span>
                        </span>
                    </div>
                </li>
                <li class="flex-wr-sb-s p-b-30">
                    <a href="/runner-viet-nam-chay-42-giai-marathon-nam-2024-a37.html"
                        class="size-w-10 wrap-pic-w hov1 trans-03">
                        <img src="/uploads/images/1736442578324_16.jpg"
                            alt="Runner Việt Nam chạy 42 giải marathon năm 2024">
                    </a>

                    <div class="size-w-11">
                        <h6 class="p-b-4">
                            <a href="/runner-viet-nam-chay-42-giai-marathon-nam-2024-a37.html"
                                class="f1-s-5 cl3 hov-cl10 trans-03">Runner Việt Nam chạy 42 giải
                                marathon năm 2024</a>
                        </h6>

                        <span class="cl8 txt-center p-b-24">
                            <a href="/tac-gia-pham-vuong-quy-p1.html" class="f1-s-6 cl8 hov-cl10 trans-03">
                                <span>Phạm Vương Quý</span>
                            </a>
                            <span class="f1-s-3 m-rl-3">-</span>
                            <span class="f1-s-3">13/04/2025</span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>

        <!-- Cryptocurrency Prices -->


        <!-- Gold Prices -->


        <!-- Tags -->
        <div>
            <div class="how2 how2-cl4 flex-s-c m-b-30">
                <h3 class="f1-m-2 cl3 tab01-title">
                    Nhãn
                </h3>
            </div>

            <div class="flex-wr-s-s m-rl--5">

                <a href="nhan-la-liga-t51.html"
                    class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                    <span>La Liga (3)</span>
                </a>

                <a href="nhan-doi-tuyen-bong-da-viet-nam-t55.html"
                    class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                    <span>Đội tuyển bóng đá Việt Nam (3)</span>
                </a>

                <a href="nhan-ngoai-hang-anh-t68.html"
                    class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                    <span>Ngoại hạng Anh (3)</span>
                </a>

                <a href="nhan-doi-tuyen-bong-da-thai-lan-t56.html"
                    class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                    <span>Đội tuyển bóng đá Thái Lan (2)</span>
                </a>

                <a href="nhan-bang-california-t45.html"
                    class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                    <span>Bang California (2)</span>
                </a>

                <a href="nhan-hlv-kim-sang-sik-t58.html"
                    class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                    <span>HLV Kim Sang-sik (2)</span>
                </a>

                <a href="nhan-nang-luong-t28.html"
                    class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                    <span>năng lượng (2)</span>
                </a>

                <a href="nhan-aff-asean-cup-2024-t57.html"
                    class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                    <span>AFF ASEAN Cup 2024 (2)</span>
                </a>

                <a href="nhan-vinicius-junior-t54.html"
                    class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                    <span>Vinicius Junior (2)</span>
                </a>

                <a href="nhan-manchester-city-t67.html"
                    class="flex-c-c size-h-2 bo-1-rad-20 bocl12 f1-s-1 cl8 hov-btn2 trans-03 p-rl-20 p-tb-5 m-all-5">
                    <span>Manchester City (1)</span>
                </a>

            </div>
        </div>
    </div>
</div>